.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  width: 100%;
  padding: 12px;
}

.navbar-item-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
}

.button-section {
  display: flex;
  justify-content: center;
  width: 177px;
  height: 48px;
  gap: 5px;
  border: none;
}

.login-button {
  background-color: transparent;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #000;
  cursor: pointer;
  width: 100px;
}

.login-button:hover {
  background-color: #000;
  color: #fff;
  transition: ease-in-out 0.5s;
}

.sign-up-button {
  width: 125px;
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.sign-up-button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}

.company-name {
  color: #000;
  cursor: pointer;
}

.hotels-section {
  width: 190px;
  padding-left: 10px;
}

.hotels-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border: none;
  color: #000;
  background: transparent;
}

.hotels-button:hover {
  background-color: #000;
  color: #fff;
  transition: ease-in-out 0.5s;
  border: none;
  border-radius: 8px;
}

.user-name {
  cursor: pointer;
}

@media only screen and (max-width: 575.98px) {
  .navbar-container {
    display: block;
  }

  .button-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: none;
  }
  .navbar-item-container {
    width: 100%;
  }
  .user-avatar,
  .user-favourites,
  .heart-img {
    display: none;
  }
}
